html {
  font-size: 14px;
}
button:focus, .btn:focus{
  box-shadow: none !important;
  outline-width: 0;
}
.table thead th {
  border-top-width: 0;
}
.material-icons {
  font-size: 1rem;
}
.close .material-icons {
  font-size: inherit;
}

.container-fluid {
  max-width: 1200px;
}

.font-size-1 {
  font-size: 1rem;
}

[aria-expanded="false"] .icon-collapse::after {
  content: 'keyboard_arrow_down';
}

[aria-expanded="true"] .icon-collapse::after {
  content: 'keyboard_arrow_up';
}

/* ----------------------------------------- App styles */
#btn_collapse_all[aria-expanded="false"]::before {
  content: 'Expand all';
}
#btn_collapse_all[aria-expanded="true"]::before {
  content: 'Collapse all';
}

.page-header h1 > small {
  font-size: 50%;
}

.server-panel {
  border-radius: 15px;
  border: 1px solid #343a40;
  margin-bottom: 3rem;
  overflow: hidden;
}

.server-refresh {
  font-style: italic;
  font-size: 80%;
  display: flex;
  align-items: center;
}
.server-refresh > .material-icons {
  font-size: 1rem;
  padding-right: 5px;
}

.server .server-prefix {
  border-radius: .25rem 0 0 .25rem;
}
.server .progress {
  height: 18px;
  border-radius: 0 .25rem .25rem 0;
}

.col-name, .col-reservation {
  width: 20%;
}
.col-reservation {
  min-width: 200px;
}
.col-memory, .col-gpu {
  width: 13%;
}

.btn-icon {
  padding: 5px;
  line-height: 1;
}